.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    row-gap: 10px;
    column-gap: 20px;
    
    height: 700px;
    width: 800px;
    background-color: aqua;
    border: 6px solid black;
}
.item{
    display: flex;    
    height: 200px;
    width: 180px;
    background-color: white;
    border: 1px solid black;
}
.item3{
    order: -1;
    flex-grow: 6;
}