.container{
    display: grid;
    background-color: #0bffff;
    border: 2px solid black;
    height: 500px;
    width: 1000px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    /*grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";*/
    column-gap: 2px;
    row-gap: 2px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    place-content: center;
}
.item{
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center ;
    color: white;
}
/*.item1{
    grid-area: header;
}
/*.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
}*/