#box{
   border: 2px solid black;
  display:inline-block;
  padding-left: 10px;
}
b{
    background-color: skyblue ;
    padding-left: 10px;
}
p{
    background-color: lightgreen;
    padding-left: 10px;
}