#box1{
    display: inline-block;
background-color: rgb(255, 255, 0);
height: 300px;
width: 40px;
padding: 50px;
text-align: center;
}
#box2{
        display: inline-block;
background-color: rgb(239, 11, 110);
height: 300px;
width: 40px;
padding: 50px;
text-align: center;
}
#box3{
        display: inline-block;
background-color: skyblue;
height: 300px;
width: 40px;
padding: 50px;
text-align: center;
}
#container{
    display: block;
}